@import "../css/fonts.css";
* {
  font-family: "Roboto", sans-serif;
}

.promo__btn:hover, .subheader__btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.header {
  position: relative;
  height: 50px;
}
.header__nav {
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}
.header__nav .hamburger {
  display: none;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu__item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu__item:last-child {
  border-right: none;
}
.menu__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader__logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader__text {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subheader__call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader__phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}
.subheader .xs-visible {
  display: none;
}
.subheader__btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo {
  min-height: 800px;
  color: #ffffff;
  background: url("../img/uber_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo__header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.promo__subheader {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo__btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantage {
  padding: 71px 0px 64px 0px;
  background-color: #ffffff;
}
.advantage__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.advantage__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  background-color: #1eacc7;
  border-radius: 50%;
  width: 113px;
  height: 113px;
}
.advantage__contents {
  width: 343px;
  min-height: 160px;
}
.advantage__title {
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  color: #1eacc7;
  margin-bottom: 10px;
}
.advantage__text {
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  color: #202020;
}

.cards {
  padding: 18px 0 79px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.cards .row {
  margin-top: 32px;
}
.cards__item {
  padding-top: 92px;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  position: relative;
}
.cards__item-1 {
  background: url("../img/cards/1.png") center center/cover no-repeat;
}
.cards__subtitle {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.cards__plus {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 34px;
  padding: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.cards__plus:before {
  content: "";
  background-color: #1eacc7;
  height: 2px;
  width: 15px;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.cards__plus:after {
  content: "";
  background-color: #1eacc7;
  height: 15px;
  width: 2px;
  position: absolute;
  left: 13px;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.cards__plus:hover::before, .cards__plus:hover::after {
  background-color: #ffffff;
}
.cards__item-2 {
  background: url("../img/cards/2.png") center center/cover no-repeat;
}
.cards__item-3 {
  background: url("../img/cards/3.png") center center/cover no-repeat;
}
.cards__item-4 {
  background: url("../img/cards/4.png") center center/cover no-repeat;
}
.cards__item-5 {
  background: url("../img/cards/5.png") center center/cover no-repeat;
}
.cards__item-6 {
  background: url("../img/cards/6.png") center center/cover no-repeat;
}

.car {
  position: relative;
  background: url("../img/cars.png") center center/cover no-repeat;
  height: 800px;
}
.car__img {
  position: relative;
  display: block;
  margin: 50px auto 0 auto;
  z-index: 2;
}
.car__text {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.car__black {
  padding-top: 57px;
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.requirements {
  background-color: #ffffff;
  padding-bottom: 87px;
}
.requirements .row {
  margin: 33px 0px 33px 0px;
}
.requirements__title {
  font-size: 22px;
  line-height: 24px;
  color: #1eacc7;
}
.requirements__list {
  list-style: none;
  margin: 20px 0px 0px 0px;
}
.requirements__list li {
  padding: 0px 0px 0px 50px;
  background: url("../img/icons/ok.png") 10px 2px no-repeat;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}
.requirements__text {
  margin: 25px 0px 0px 0px;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1eacc7;
}
.requirements .warning {
  color: #ff5656;
}
.requirements .no li {
  background: url("../img/icons/no.png") 10px 2px no-repeat;
}

.map {
  margin: 0px 0px 0px 0px;
  height: 720px;
  padding: 48px 0px 50px 0px;
  background: #080816;
  background: url("../img/world_bg.png") center center/cover no-repeat;
}
.map__text {
  margin: 430px 0px 50px 0px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #1eacc7;
}

.footer {
  padding: 14px 22px 37px 22px;
}
.footer__rectangle {
  width: 299px;
  height: 4px;
  margin: 0 auto;
  background-color: #1eacc7;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__column {
  padding-top: 34px;
  width: 33%;
}
.footer a {
  text-decoration: none;
}

.social_column {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social_column .social {
  display: block;
  margin-right: 6px;
  width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 50%;
  background: #070716;
}
.social_column .fb {
  width: 20px;
  height: 20px;
  background: url("../img/icons/social_facebook.png") center center no-repeat;
}
.social_column .tw {
  width: 20px;
  height: 20px;
  background: url("../img/icons/social_twitter.png") center top no-repeat;
}
.social_column .ln {
  width: 20px;
  height: 20px;
  background: url("../img/icons/social_linkedin.png") center center no-repeat;
}
.social_column .inst {
  width: 20px;
  height: 20px;
  background: url("../img/icons/social_instagram.png") center center no-repeat;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.center__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.center__title {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
  margin-right: 12px;
}
.center__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.center__subtitle {
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  margin-right: 5px;
}
.center__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.center__bottom .center_lang {
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1eacc7;
}

.all_store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.all_store .store {
  margin-left: 5px;
  cursor: pointer;
}

.label {
  width: 115px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.title {
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subhead {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.blue {
  color: #1eacc7;
}

.white {
  color: #ffffff;
}

.reverse {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 1200px) {
  .menu__item {
    padding-right: 20px;
  }
  .menu__link {
    font-size: 13px;
  }

  .promo__header {
    font-size: 50px;
  }
  .promo__subheader {
    font-size: 28px;
  }

  .advantage__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .cards__item {
    width: 300px;
  }
  .cards__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .menu__item {
    padding-right: 10px;
  }
  .menu__link {
    font-size: 10px;
  }

  .subheader__logo img {
    width: 100%;
  }
  .subheader__text {
    font-size: 11px;
  }
  .subheader__phone {
    font-size: 18px;
  }
  .subheader__btn {
    margin-top: 23px;
    width: 141px;
    height: 36px;
  }

  .promo__header {
    font-size: 40px;
  }
  .promo__subheader {
    font-size: 26px;
  }

  .advantage__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .advantage__image {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .advantage__text {
    text-align: justify;
  }

  .cards__subtitle {
    font-size: 16px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    width: 100%;
  }
  .footer .social_column {
    margin: 0 auto;
  }
  .footer .center__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .center__title {
    margin-right: 20px;
  }
  .footer .center__middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .center__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .all_store {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .all_store .store {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    z-index: 2;
  }
  .header__menu .menu__item {
    padding-right: 0;
    border: none;
    margin-top: 10px;
  }
  .header__menu .menu__link {
    font-size: 20px;
  }
  .header .menu__active {
    left: 0;
  }
  .header .hamburger {
    display: block;
    position: absolute;
    right: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 15px;
  }
  .header .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 3px;
    -webkit-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
  }
  .header .hamburger__active span {
    margin-bottom: -2px;
  }
  .header .hamburger__active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .header .hamburger__active span:nth-child(2) {
    display: none;
  }
  .header .hamburger__active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }

  .subheader .xs-hidden {
    display: none;
  }
  .subheader .xs-visible {
    display: block;
    margin-right: 20px;
  }
  .subheader__phone {
    display: block;
    margin-top: 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader__btn {
    margin-top: 10px;
    margin-right: 20px;
  }
  .subheader .xxx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .promo__header {
    line-height: 40px;
  }

  .car__img {
    max-width: 100%;
  }

  .advantage__block {
    margin-top: 30px;
  }
  .advantage__image {
    margin-right: 0px;
  }
  .advantage__title {
    text-align: center;
    margin-bottom: 0px;
  }

  .requirements__block {
    margin-bottom: 25px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    width: 100%;
  }
  .footer .social_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .center__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .center__middle {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .center__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .all_store {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 575px) {
  .header {
    height: 40px;
  }
  .header__nav {
    height: 40px;
  }
  .header__menu {
    width: 70%;
    padding: 10px 10px;
  }
  .header .menu__item {
    width: 100%;
    text-align: center;
  }
  .header .menu__link {
    font-size: 12px;
    text-align: center;
  }
  .header .hamburger {
    right: 10%;
  }

  .subheader {
    top: 40px;
    height: 60px;
  }
  .subheader__logo {
    margin-top: 19px;
  }
  .subheader__text {
    display: none;
  }
  .subheader__phone {
    margin-top: 8px;
    margin-right: 15px;
    font-size: 12px;
  }
  .subheader__btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    line-height: 22px;
    margin-top: 6px;
    margin-right: 15px;
    text-align: right;
  }

  .promo {
    min-height: 400px;
    background-position: center;
    padding: 81px 10px 35px 10px;
  }
  .promo__header {
    font-size: 30px;
    line-height: 35px;
  }
  .promo__subheader {
    font-size: 20px;
    line-height: 26px;
  }
  .promo__text {
    display: none;
  }
  .promo__btn {
    margin-top: 73px;
    width: 189px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
  }

  .advantage {
    padding: 20px 0px 0px 0px;
  }
  .advantage__text {
    padding: 0 20px;
  }

  .car {
    background: none;
    height: 530px;
  }
  .car__text {
    display: none;
  }

  .requirements__list {
    padding: 0;
  }

  .footer .center__title {
    font-size: 12px;
  }
  .footer .center__title:last-child {
    margin-right: 0px;
  }
  .footer .center__middle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .center__subtitle {
    font-size: 10px;
    margin-right: 10px;
  }
  .footer .all_store {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .all_store .store {
    margin: 0px 3px 0px 0px;
  }

  .title {
    font-size: 22px;
  }
}